<%if false%> 
License:
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2019-2020
- Engelberg See

Code History:
Engelberg See - 02/08/20 - Generated Preferred Subjects file, Edited What to show
John Matthew Ramos - 02/13/20 - Made the UI
File Creation Date: 02/08/20
Development Group: Engelberg See
Purpose: Displays edit preferred subject
<%end%>

<section id="pricing" class="wow fadeInUp section-bg">

<section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Edit Preferred Subjects</h3>
          <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
        </header>

        <div class="row">

          <div class="col-md-1 col-lg-12 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <h4 class="title"><%= render 'form', preferredsubject: @preferredsubject %>
</a></h4>
              <p class="description">Pick the new subject you would like.</p>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <h4 class="title"><a href=""><%= link_to 'Show', @preferredsubject %>
</a></h4>
              <p class="description">Show subject details.</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <h4 class="title"><a href=""><%= link_to 'Back', preferredsubjects_path %>
</a></h4>
              <p class="description">Go back to preferred subject page.</p>
            </div>
          </div>
      	</div>
        </div>

      </div>
    </section>
</section>
